@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 7px; 
  height: 7px; 
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5; 
  border-radius: 8px; 
  background-clip: content-box; 
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; 
  border-radius: 8px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4338ca; 
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    background-color: #1f2937;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #d1d5db;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --nav: 220 8.04% 99%;
    --nav-foreground: 216.92 19.12% 26.67%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 15.69%;
    --foreground: 0 0% 84%;

    --nav: 0 0% 12.9%;
    --nav-foreground: 0 0% 84%;
 
    --card: 0 0% 20%;
    --card-foreground: 0 0 91%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 0 0% 89.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 0 0% 20%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 75%;
 
    --accent: 0 0% 12.44%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 100% 39.06%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 234.28 3.2% 17.84%;
    --input: 217.2 8.01% 34.5%;
    --ring: 221 4% 14%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
